@import "reset.css";

body {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

.container.body {
    padding-top: 20px;
}

header {
    height: 60px;
    line-height: 60px;
}

.flex-nav {
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

.main-nav {
    background: #eeeeee;
    line-height: 50px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.main-nav a,
.onpage-nav a {
    margin: 0 15px 0 0;
    display: inline-block;
    text-decoration: none;
}

.main-nav a:hover,
.onpage-nav a:hover {
    text-decoration: underline;
}

.onpage-nav a {
    margin: 0 0 0 15px;
    text-decoration: underline;
}

.search-box {
    padding: 0 0 20px 0;
}

.search-box input {
    padding: 8px 10px;
    width: 100%;
    max-width: 400px;
    border:  1px solid #dddddd;
    border-radius: 0;
}

table {
    width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 10px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #398ad7;
    color: #ffffff;
    text-align: left;
}

form p {
    margin: 0 0 20px 0;
}

form label {
    display: block;
}

.form-message {
    margin: 0 0 20px 0;
}

.form-error {
    color: red;
}

.form-success {
    color: green;
}
