@import "reset.css";

body {
    font-family: sans-serif;
}

a,
a:visited {
    color: #000000;
}

a:hover {
    color: #666666;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

.container.body {
    padding-top: 20px;
    padding-bottom: 40px;
}

header {
    height: 60px;
    line-height: 6.0rem;
}

.flex-nav {
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
}

.flex-nav.extra-padding {
    padding: 40px 0 10px 0;
}

h1 {
    font-size: 3.0rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    margin: 30px 0 20px 0;
    font-size: 1.8rem;
}

h1 a {
    text-decoration: none;
}

h2 {
    display: flex;
    align-items: center;
}

h2 span {
    font-size: 1.4rem;
    display: flex;
}

h2 span span {
    margin-left: 4px;
    padding: 5px 10px;
    display: block;
    background: #eeeeee;
}

h2 span span:first-child {
    margin-left: 20px;
}

.main-nav {
    background: #eeeeee;
    line-height: 5.0rem;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    font-size: 1.3rem;
}

@media (min-width: 450px) {
    .main-nav {
        font-size: inherit;
    }        
}

.main-nav a,
.onpage-nav a {
    margin: 0 10px 0 0;
    display: inline-block;
    text-decoration: none;
}

.main-nav a:hover,
.onpage-nav a:hover {
    text-decoration: underline;
}

.onpage-nav a {
    margin: 0 0 0 15px;
    text-decoration: underline;
}

.search-box {
    padding: 0 0 20px 0;
}

.search-box input {
    padding: 8px 10px;
    width: 100%;
    max-width: 400px;
    border:  1px solid #dddddd;
    border-radius: 0;
}

.search-box input:focus {
    border-color: #398ad7;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
}

table td, table th {
  border: 1px solid #dddddd;
  padding: 10px;
  white-space: nowrap;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #398ad7;
    color: #ffffff;
    text-align: left;
}

table td i {
    color: red;
}

form p {
    margin: 0 0 20px 0;
}

form label {
    margin: 0 0 5px 0;
    display: block;
    font-weight: 600;
}

input,
select,
textarea {
    border-radius: 0;
    outline: 0;
    background: #ffffff;
}

form input[type="text"],
form input[type="number"],
form input[type="url"],
form textarea {
    padding: 8px 10px;
    width: 100%;
    max-width: 400px;
    border:  1px solid #dddddd;
    border-radius: 0;
}

form input[type="number"] {
    max-width: 100px;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="url"]:focus,
form select:focus,
form textarea:focus {
    border-color: #398ad7;
}

form select {
    padding: 10px 5px;
    width: 100%;
    max-width: 400px;
    border:  1px solid #dddddd;
    border-radius: 0;
}

form textarea {
    min-height: 100px;
}

form input[type="submit"] {
    padding: 7px 15px;
    border: 0;
    background: #38A550;
    color: #ffffff;
    -webkit-appearance: none;
}

form input[type="submit"].delete {
    background: #D54646;
}

form input[type="submit"]:hover {
    cursor: pointer;
    background: #51BE69;
}

form input[type="submit"].delete:hover {
    background: #F04D4D;
}

.form-message {
    margin: 0 0 20px 0;
}

.form-error {
    color: red;
}

.form-success {
    color: green;
}

button {
    padding: 7px 15px;
    border: 0;
    background: #007bff;
    color: #ffffff;
    -webkit-appearance: none;
    height: 42px;
}

button:hover {
    cursor: pointer;
    background: #229dff;
}

div.notes-box {
    padding: 15px;
    background: #f9f9f9;
}

div.notes-box p {
    margin: 0 0 15px 0;
}

div.notes-box p:last-child {
    margin: 0;
}

p.item-name {
    padding: 0 0 30px 0;
    font-size: 1.8rem;
}

@media (min-width: 700px) {
    .item-property-container {
        margin: 0 -10px;
        display: flex;
        flex-wrap: wrap;
    }
}

.item-property {
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    border: 1px solid #eeeeee;
}

@media (min-width: 700px) {
    .item-property {
        margin: 10px;
        max-width: calc(50% - 20px);
    }
}

@media (min-width: 960px) {
    .item-property {
        max-width: calc(33.3333332% - 20px);
    }
}

.item-property h3 {
    margin: 0 0 5px 0;
}

.item-property.red {
    background: #f8d7da;
    border-color: #f5c6cb;
}

.item-property.amber {
    background: #fff3cd;
    border-color: #ffeeba;
}

.item-property.green {
    background: #d4edda;
    border-color: #c3e6cb;
}

#custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px; /* Adjust width as needed */
    max-width: 90%;
    position: relative;
}

.modal-content h2 {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
